/**
 * All of the CSS for your public-facing functionality
 */

.date-field select {
    float: left;
    width: 30% !important;
}

.date-field .billing-year-class {
    width: 40% !important;
}

#ui-datepicker-div {
    font-size: 11px;
}